# Python
.venv
**/__pycache__
**/*.pyc
**/.pytest_cache

# Git
.git
.gitignore

# AWS CDK
**/cdk.out
**/cdk.json
**/cdk.context.json

# Modules
libs/salome-cdk
libs/salome-tool

# Environment
.env

# Documentation
README.md
